




.price-box-slider .paginado{
    font-size: 20px;
    font-weight: 700;
}


.price-box-slider p{
    display: inline;
    font-size: 20px;
    color: green;
    font-weight: 700;
}

.pagAdmin{
    width: 60% !important;
}

.price-box-slider .disp{
    display: inline !important;
}

.price-box-slider p{
    display: inline !important;
}


.disponibilidad{
    margin-top: 5px;
    font-size: 13px !important;
}
.cent{
    text-align: center;
    width: 30% !important;
    margin: auto !important;
    border-top: solid 3px black;

}

.fa-clipboard-check{
    font-size: 25px;
    color: rgb(24, 82, 24);
}

.fa-rectangle-xmark{
    font-size: 23px;
    color: rgb(170, 9, 9);
}

.factu{
    font-weight: 800 !important;
}

.linkCarrito{
    font-size: 20px !important;
}